<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IoT Devices</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>IoT Devices</h1>
    <table>
        <tr>
            <th>MAC Address</th>
            <th>IP Address</th>
            <th>Manufacturer</th>
            <th>Device Type</th>
        </tr>
        {% for device in devices %}
        <tr>
            <td>{{ device[0] }}</td>
            <td>{{ device[1] }}</td>
            <td>{{ device[2] }}</td>
            <td>{{ device[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Historical Data</h2>
    <table>
        <tr>
            <th>MAC Address</th>
            <th>IP Address</th>
            <th>Activity</th>
            <th>Timestamp</th>
        </tr>
        {% for data in historical_data %}
        <tr>
            <td>{{ data[0] }}</td>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
            <td>{{ data[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
